@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
}

/* NAVBAR */

.navbar-custom {
    background-color: #7fa7d8;
    padding: 15px 30px;
}

.navbar-brand {
    font-weight: bold;
    color: white !important;
}

.nav-link {
    color: white !important;
    font-weight: 600;
    margin-left: 15px;
}

.uba-logo {
    height: 60px;
    width: auto;
}

/* HERO */

.hero-section {
    min-height: 90vh;

    background-image:
        linear-gradient(
            rgba(255,255,255,0.65),
            rgba(255,255,255,0.65)
        ),
        url('images/background.jpeg');

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 40px;
}

.overlay {
    width: 100%;
}

.titulo-principal {
    font-size: 4rem;
    font-weight: 700;
    color: #1f1f1f;

    margin-bottom: 20px;
}

.subtitulo {
    font-size: 1.3rem;
    color: #333;

    margin-bottom: 50px;
}

/* BOTONES */

.btn-campus {
    background-color: #1f0f9b;
    color: white;
    border-radius: 20px;

    padding: 15px 40px;

    font-weight: bold;
    border: none;

    transition: 0.3s;
}

.btn-campus:hover {
    background-color: #14096d;
    color: white;
}

.btn-azul-ids {
    background-color:  #1d2554;
    border: none; 
}
.btn-azul-ids:hover {
    background-color:  #91bde1;
}
/* Línea divisoria vertical sutil del login */
.divisor-vertical {
    border-left: 1px solid #e0e0e0;
}

/* CARDS */

.card-custom {
    border-radius: 20px;
    border: none;
}

/* FOOTER */

.footer-custom {
    background-color: #7fa7d8;

    color: white;

    text-align: center;

    padding: 15px;
}

/* TITULOS */

.page-title {
    font-weight: bold;
    margin-bottom: 30px;
}
