{% extends "base.html" %}

{% block title %}
Asistencia
{% endblock %}

{% block content %}

<div class="container mt-5 mb-5">

    <h1 class="page-title">
        Registro de Asistencia
    </h1>

    <div class="card shadow p-4 card-custom">

        <form
            method="POST"
            action="/asistencia">

            <div class="mb-3">

                <label class="form-label">
                    Alumno
                </label>

                <input
                    type="text"
                    class="form-control"
                    placeholder="Nombre del alumno"
                    name="alumno"
                >

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Fecha
                </label>

                <input
                    type="date"
                    class="form-control"
                    name="fecha"
                >

            </div>

            <button class="btn btn-campus">
                Registrar asistencia
            </button>

        </form>

    </div>

</div>

{% endblock %}
