<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Campus FIUBA - Introducción al Desarrollo de Software{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

    <!-- HEADER -->

    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                Campus FIUBA - Introducción al Desarrollo de Software
            </a>

            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div
                class="collapse navbar-collapse"
                id="navbarNav">

                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            Inicio
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/asistencia">
                            Asistencia
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/reportes">
                            Reportes
                        </a>
                    </li>

                </ul>

            </div>

        </div>

    </nav>

    <!-- CONTENIDO -->

    <main>

        {% block content %}
        {% endblock %}

    </main>

    <!-- FOOTER -->

    <footer class="footer-custom">

        <p>
            Proyecto Final IDS - Grupo 14
        </p>

    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
