{% extends "base.html" %}

{% block title %}
Gestión de cursos
{% endblock %}

{% block content %}

<div class="container mt-5 mb-5">
    <h1 class="page-title">
        Registro de cursos
    </h1>

    <div class="container px-0">
        <form action="/cursos" method="get">
            <h2>
            Filtros
            </h2>
            <div class="row mb-4">
                <div class="col-md-4">
                    <div class="input-group">
                        <label class="input-group-text" for="inputGroupSelect01">ID curso</label>
                        <select class="form-select" id="inputGroupSelect01" name="id_curso">
                            <option value="" >Elegir ID del curso</option>
                            {% for curso in cursos_todos %}
                                <option value="{{ curso.id_curso }}" {{'selected' if curso.id_curso | int == id_curso | int}}>Curso {{ curso.id_curso }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-text" id="inputGroup-sizing-default">Año</span>
                        <input type="number" value="{{ anio }}" class="form-control" name="anio" placeholder="Ej: 2026" min="2000" max="2100">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-text" id="inputGroup-sizing-default">Cuatrimestre</span>
                        <input type="number" value="{{ cuatrimestre }}" class="form-control" name="cuatrimestre" placeholder="1 o 2" min="1" max="2">
                    </div>
                </div>
            </div>
            <div class="row mb-4 position-relative">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-filtrar">Filtrar</button>
                </div>
                <div class="col-md-3">
                    <a href="/cursos" class="btn btn-filtrar w-100">
                        <i class="bi bi-arrow-clockwise me-1"></i>Limpiar Período
                    </a>
                </div>
            </div>
        </form>   
    </div>

    <div class="container mt-5 mb-5 px-0">
        <div class="row mt-5 mx-0">
            <div class="col-12">
                <div class="row mx-0">
                    <h3 class="titulo-tabla mb-3 col">
                        Cursos registrados
                    </h3>
                    <div class="col-auto">
                        <button class="btn btn-crear" data-bs-toggle="modal" data-bs-target="#modal_crear_curso">Crear curso</button>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">ID curso</th>
                            <th class="text-center" scope="col">Año</th>
                            <th class="text-center" scope="col">Cuatrimestre</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for curso in cursos %}
                            <tr class="text-center" data-id="{{curso.id_curso}}" data-anio="{{ curso.anio }}" data-cuatri="{{ curso.cuatrimestre }}">
                                <th scope="row">{{ curso.id_curso }}</th>
                                <td>{{ curso.anio }}</td>
                                <td>{{ curso.cuatrimestre }}°</td>
                                <td> 
                                    <div class="d-flex justify-content-center gap-1">
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-sm btn-outline-primary btn-editar-curso" data-bs-toggle="modal" data-bs-target="#modal_modificar_curso" title="Modificar curso">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                    </div>
                                        <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modal_eliminar_curso" data-id="{{ curso.id_curso }}" title="Eliminar curso">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                  </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4" class="tabla-vacia">
                                    No se encontraron cursos registrados con los filtros aplicados
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container px-0 mt-4">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item {% if pag <= 1 %}disabled{% endif %}">
                    <a class="page-link" href="?pag={{ pag - 1 }}&id_curso={{ request.args.get('id_curso', '') }}&nombre_curso={{ request.args.get('nombre_curso', '') }}&anio={{ request.args.get('anio', '') }}&cuatrimestre={{ request.args.get('cuatrimestre', '') }}">
                        <span>&laquo;</span>
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">{{ pag }}</a>
                </li>

                {% if cursos|length == 15 %}
                    <li class="page-item">
                        <a class="page-link" href="?pag={{ pag + 1 }}&id_curso={{ request.args.get('id_curso', '') }}&nombre_curso={{ request.args.get('nombre_curso', '') }}&anio={{ request.args.get('anio', '') }}&cuatrimestre={{ request.args.get('cuatrimestre', '') }}">
                            {{ pag + 1 }}
                        </a>
                    </li>
                {% endif %}
                
                <li class="page-item {% if cursos|length < 15 %}disabled{% endif %}">
                    <a class="page-link" href="?pag={{ pag + 1 }}&id_curso={{ request.args.get('id_curso', '') }}&nombre_curso={{ request.args.get('nombre_curso', '') }}&anio={{ request.args.get('anio', '') }}&cuatrimestre={{ request.args.get('cuatrimestre', '') }}">
                        &raquo;
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>


<!--Código de los modales-->
<div class="modal fade" id="modal_crear_curso" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo curso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form action="/cursos/crear" method="post">
                <div class="modal-body">
                    <h6 class="texto-indicacion-modal mb-3">Complete los siguientes campos:</h6>
                    <div class="input-group mb-4">
                        <span class="input-group-text">Año</span>
                        <input type="number" name="anio" class="form-control" placeholder="Ej: 2026" min="2000" max="2100" required>
                    </div> 

                    <div class="input-group mb-4">
                        <span class="input-group-text">Cuatrimestre</span>
                        <input type="number" name="cuatrimestre" class="form-control" placeholder="1 o 2" min="1" max="2" required>
                    </div> 
                    
                    <div class="d-flex justify-content-center mt-2">
                        <button type="submit" class="btn btn-crear">Crear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal de modificar curso -->
<div class="modal fade" id="modal_modificar_curso" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modificar curso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form action="/cursos/modificar" method="post">
                <div class="modal-body">
                    <h6 class="texto-indicacion-modal mb-3">Complete los siguientes campos:</h6>
                    <input type="hidden" id="id_curso_modal" name="id_curso" class="form-control" required> 

                    <div class="input-group mb-4">
                        <span class="input-group-text">Año</span>
                        <input type="number" id="anio_modal" name="anio" class="form-control" placeholder="Ej: 2026" min="2000" max="2100" required>
                    </div> 

                    <div class="input-group mb-4">
                        <span class="input-group-text">Cuatrimestre</span>
                        <input type="number" id="cuatrimestre_modal" name="cuatrimestre" class="form-control" placeholder="1 o 2" min="1" max="2" required>
                    </div> 
                    
                    <div class="d-flex justify-content-center mt-2">
                        <button type="submit" class="btn btn-crear">Modificar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal de eliminar curso -->
<div class="modal fade" id="modal_eliminar_curso" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar curso</h5>
            </div>

            <form action="/cursos/eliminar" method="post">
                <div class="modal-body text-center">
                    <p class="advertencia-eliminar mb-3">PRECAUCIÓN: una vez que se elimine un curso no podras recuperarlo ¿Deseas proceder?</p>
                    
                    <input type="hidden" id="eliminar_id_curso" name="id_curso">
                    
                    <div class="d-flex justify-content-center gap-3 mt-4">
                        <button type="button" class="btn btn-modificar-equipo" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-eliminar">Eliminar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

{% endblock %}