{% extends "base.html" %}

{% block title %}
Gestión de equipos
{% endblock %}

{% block content %}

<div class="container mt-5 mb-5">
    <h1 class="page-title">
        Registro de equipos
    </h1>

    <div class="container px-0">
        <form action="/equipos" method="get">
            <h2>
            Filtros
            </h2>
            <div class="row mb-4">
                <div class="col-md-5">
                    <div class="input-group">
                        <label class="input-group-text" for="inputGroupSelect01">ID curso</label>
                        <select class="form-select" id="inputGroupSelect01" name="id_curso">
                            <option value="" {% if not request.args.get('id_curso') %}selected{% endif %}>Elegir ID del curso</option>
                            {% for curso in cursos %}
                                <option value="{{ curso }}" {% if request.args.get('id_curso')|string == curso|string %}selected{% endif %}>Curso {{ curso }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-text" id="inputGroup-sizing-default">ID equipo</span>
                        <input type="text" class="form-control" name="id_equipo" value="{{ request.args.get('id_equipo', '') }}">
                    </div>
                </div>

                <div class="col-md-2">
                    <button type="submit" class="btn btn-filtrar w-100">Filtrar</button>
                </div>
            </div>
            
            <div class="row mb-4">
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-text" id="inputGroup-sizing-default">Nombre equipo</span>
                        <input type="text" class="form-control" name="nombre_equipo" value="{{ request.args.get('nombre_equipo', '') }}">
                    </div>
                </div>

                <div class="col-md-2">
                    <a href="/equipos" class="btn btn-filtrar w-100">Reestablecer</a>
                </div>
            </div>
        </form>   
    </div>

    <div class="container mt-5 mb-5 px-0">
        <div class="row mt-5 mx-0">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3 class="titulo-tabla mb-0">
                      Equipos registrados
                    </h3>
                    <button class="btn btn-crear" data-bs-toggle="modal" data-bs-target="#modal_crear_equipo"><i class="bi bi-plus-lg"></i> Crear equipo</button>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 10%;" class="text-center">ID equipo</th>
                            <th style="width: 50%;">Nombre del equipo</th>
                            <th style="width: 10%;" class="text-center">ID curso</th>
                            <th style="width: 15%;" class="text-center">Integrantes</th>
                            <th style="width: 15%;" class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for equipo in equipos %}
                            <tr>
                                <th scope="row" class="text-center">{{ equipo.id_equipo }}</th>
                                <td>{{ equipo.nombre_equipo }}</td>
                                <td class="text-center">{{ equipo.id_curso }}</td>
                                <td class="text-center">
                                    <button class="btn btn-alumnos" data-bs-toggle="modal" data-bs-target="#modal_alumnos" data-id="{{ equipo.id_equipo }}">
                                        Alumnos
                                    </button>
                                </td>
                                <td class="text-center">
                                    <div class="d-flex justify-content-center gap-1">
                                        <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"  data-bs-target="#modal_modificar_equipo" data-id="{{ equipo.id_equipo }}" title="Modificar equipo">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"  data-bs-target="#modal_eliminar_equipo" data-id="{{ equipo.id_equipo }}" title="ELiminar equipo">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4" class="tabla-vacia">
                                    No se encontraron equipos registrados con los filtros aplicados
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container px-0 mt-4">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item {% if pag <= 1 %}disabled{% endif %}">
                    <a class="page-link" href="?pag={{ pag - 1 }}&id_curso={{ request.args.get('id_curso', '') }}&id_equipo={{ request.args.get('id_equipo', '') }}&nombre_equipo={{ request.args.get('nombre_equipo', '') }}">
                        <span>&laquo;</span>
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">{{ pag }}</a>
                </li>

                {% if cursos|length == 15 %}
                    <li class="page-item">
                        <a class="page-link" href="?pag={{ pag + 1 }}&id_curso={{ request.args.get('id_curso', '') }}&id_equipo={{ request.args.get('id_equipo', '') }}&nombre_equipo={{ request.args.get('nombre_equipo', '') }}">
                            {{ pag + 1 }}
                        </a>
                    </li>
                {% endif %}
                
                <li class="page-item {% if cursos|length < 15 %}disabled{% endif %}">
                    <a class="page-link" href="?pag={{ pag + 1 }}&id_curso={{ request.args.get('id_curso', '') }}&id_equipo={{ request.args.get('id_equipo', '') }}&nombre_equipo={{ request.args.get('nombre_equipo', '') }}">
                        &raquo;
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<!--Código de los modales-->
<div class="modal fade" id="modal_alumnos" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered"> 
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Integrantes del equipo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
        
            <div class="modal-body">
                <h6 class="texto-indicacion-modal mb-3" id="titulo_alumnos_modal">Alumnos asignados:</h6>
                <ul class="list-group mb-3" id="grupo_lista_alumnos"></ul>
                <hr>
                <h6 class="texto-indicacion-modal mb-2">Asignar nuevo alumno:</h6>
                <form action="/equipos/agregar-alumno" method="post" class="d-flex gap-2">
                    <input type="hidden" name="id_equipo" id="modal_alumnos_id_equipo"> 
                    <div class="input-group">
                        <span class="input-group-text">Padrón</span>
                        <input type="number" name="legajo_alumno" class="form-control" placeholder="Ej: 104432" required>
                    </div>
            
                    <button type="submit" class="btn btn-agregar-alumno">Agregar</button>
                </form>
            </div>
        </div>
    </div>
    <template id="molde_cargando">
        <li class="listado-alumnos-equipos">Cargando integrantes...</li>
    </template>

    <template id="molde_vacio">
        <li class="listado-alumnos-equipos">Este equipo no tiene integrantes asignados</li>
    </template>

    <template id="molde_alumno_fila">
        <li class="listado-alumnos-equipos">
            <span class="contenido-modal txt-legajo"></span>
            <form action="/equipos/eliminar-alumno" method="post">
                <input type="hidden" name="id_miembro" class="input-id-miembro">
                <button type="submit" class="btn btn-eliminar-alumno">Eliminar</button>
            </form>
        </li> 
    </template>

    <template id="molde_error">
        <li class="listado-alumnos-equipos">Error al cargar los datos</li>
    </template>
</div>

<div class="modal fade" id="modal_crear_equipo" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo equipo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form action="/equipos/crear" method="post">
                <div class="modal-body">
                    <h6 class="texto-indicacion-modal mb-3">Complete los siguientes campos:</h6>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Nombre equipo</span>
                        <input type="text" name="nombre_equipo" class="form-control" placeholder="Ej: Artemis 3" required>
                    </div>

                    <div class="input-group mb-4">
                        <span class="input-group-text">id_curso</span>
                        <input type="number" name="id_curso" class="form-control" placeholder="Ej: 104432" required>
                    </div> 
                    
                    <div class="d-flex justify-content-center mt-2">
                        <button type="submit" class="btn btn-crear">Crear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_modificar_equipo" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modificar equipo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form action="/equipos/modificar" method="post">
                <div class="modal-body">
                    <h6 class="texto-indicacion-modal mb-3">Complete los siguientes campos:</h6>

                    <input type="hidden" id="modificar_id_equipo" name="id_equipo">

                    <div class="input-group mb-3">
                        <span class="input-group-text">Nombre equipo</span>
                        <input type="text" id="modificar_nombre_equipo" name="nombre_equipo" class="form-control" placeholder="Ej: Artemis 3" required>
                    </div>

                    <div class="input-group mb-4">
                        <span class="input-group-text">id_curso</span>
                        <input type="number" id="modificar_id_curso" name="id_curso" class="form-control" placeholder="Ej: 104432" required>
                    </div> 
                    
                    <div class="d-flex justify-content-center mt-2">
                        <button type="submit" class="btn btn-modificar-equipo">Modificar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_eliminar_equipo" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar equipo</h5>
            </div>

            <form action="/equipos/eliminar" method="post">
                <div class="modal-body text-center">
                    <p class="advertencia-eliminar mb-3">PRECAUCIÓN: una vez que se elimine un equipo no podras recuperarlo ¿Deseas proceder?</p>
                    
                    <input type="hidden" id="eliminar_id_equipo" name="id_equipo">
                    
                    <div class="d-flex justify-content-center gap-3 mt-4">
                        <button type="button" class="btn btn-modificar-equipo" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-eliminar">Eliminar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}