{% extends "base.html" %}

{% block title %}
Inicio
{% endblock %}

{% block content %}

<section class="hero-section">

    <div class="overlay">

        <h1 id="tituloPrincipal" class="titulo-principal">
            Campus FIUBA - Introducción al Desarrollo de Software
        </h1>

        <p class="subtitulo">
            Plataforma académica universitaria
        </p>

        <div class="mt-4">
            <a
                href="/login"
                class="btn btn-primary btn-lg">

                Login

            </a>
            <a
                href="/register"
                class="btn btn-campus btn-lg">

                Registrarse

            </a>

            <a
                href="/evaluaciones"
                class="btn btn-primary btn-lg">

                Evaluaciones

            </a>

            <a
                href="/notas"
                class="btn btn-primary btn-lg">

                Notas

            </a>

            <a
                href="/material"
                class="btn btn-primary btn-lg">

                Material

            </a>

            <a
                href="/calendario"
                class="btn btn-light btn-lg">

                Calendario

            </a>

            <a
                href="/reportes"
                class="btn btn-primary btn-lg">

                Reportes

            </a>

            <a
                href="/asistencia"
                class="btn btn-light btn-lg">

                Asistencia

            </a>

        </div>

    </div>

</section>

{% endblock %}
