<!DOCTYPE html>
<html lang="es">
<head>
    <title>Pala Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="titulo">Pala Store: PCs a tu medida</h1>
    <div id="productos">
        <h2 class="titulo">Nuestros productos</h2>
        <ul id="lista-componentes">
            <li>Procesador Ryzen 9 7950x3d</li>
            <img src="https://www.amd.com/content/dam/amd/en/images/products/processors/ryzen/2505503-ryzen-9-7900x3d.jpg" alt="Imagen" class="imagen-centrada">
            <li>Placa de video Nvidia RTX 4090 24gb</li>
            <img src="https://gorilagames.com/img/Public/1019-producto-placa-video-asus-tuf-gaming-rtx-4090-01-24gb-1-572.jpg" alt="Imagen" class="imagen-centrada">
            <li>Motherboard Gigabyte X670E Aorus Master</li>
            <img src="https://http2.mlstatic.com/D_NQ_NP_2X_655761-MLU74256350130_022024-F.webp" alt="Imagen" class="imagen-centrada">
        </ul>
        <button id="boton-ver-mas">Ver más</button>
    </div>
    <footer>
        <p>Mail de contacto: pala_store_clientes@example.com</p>
        <p>Pala Store 2024</p>
    </footer>
</body>
</html>
<!-- Ni idea de frontend muchachos xd -->