{% extends "base.html" %}

{% block title %}
Inicio
{% endblock %}

{% block main_class %}{% endblock %}

{% block content %}

<section class="hero-section">

    <div class="overlay">

        <h1 id="tituloPrincipal" class="titulo-principal">
            Campus FIUBA - Introducción al Desarrollo de Software
        </h1>

        <p class="subtitulo">
            Plataforma académica universitaria
        </p>

        <div class="mt-4">
            <a
                href="/register"
                class="btn btn-primary btn-lg">

                Registrarse

            </a>


        </div>
        
    </div>

</section>

{% endblock %}
