<!--RUTAS DE LAS LINEAS 16,47,58 A MODIFICAR-->

{% extends "base.html" %}

{% block title %}Login-IDS{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        
        <div class="row bg-white p-4 p-md-5 rounded-3 shadow-sm border align-items-stretch" style="max-width: 850px; width: 100%;">
            
            <div class="col-md-7 pe-md-4 d-flex flex-column justify-content-between">

                <div class="text-center mb-4">
                    <h4>Login</h4>
                </div>
                <!--Formulario para login-->
                <form action="{{ url_for('inicio.login') }}" method="POST" class="w-100">
                    <div class="mb-3">
                        <input 
                        type="email" 
                        class="form-control form-control-lg bg-light text-secondary border-0 rounded-3 py-2" 
                        id="email"
                        name="email"
                        placeholder="Email" 
                        required
                        >
                    </div>

                    <div class="mb-3">
                        <input 
                            type="password" 
                            class="form-control form-control-lg bg-light border-0 rounded-3 py-2 text-secondary" 
                            id="password" 
                            name="password" 
                            placeholder="Contraseña" 
                            required
                        >
                    </div>

                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-primary btn-lg rounded-3 py-2" style="font-size: 1.1rem; background-color: #1d2554;">
                            Acceder
                        </button>
                    </div>
                </form>

                <div class="text-center mt-3">
                    <a href="{{ url_for('inicio.login') }}" class="text-decoration-none small" style="color: #1d2554 ;">
                    ¿Olvidó su contraseña? </a>
                </div>
            </div>

            <div class="d-none d-md-block col-md-1 divisor-vertical my-2 p-0" style="max-width: 1px; margin-left: -1px;"></div>

            <div class="col-md-4 ps-md-4 d-flex flex-column justify-content-between align-items-center text-center mt-4 mt-md-0">
                <!--Apartado para registrarse como docente-->
                <div class="my-auto">
                    <h5 class="text-dark fw-normal mb-4" style="font-size: 1.3rem;">Registrarse como usuario</h5>
                    <a href="{{ url_for('inicio.login') }}" class="btn btn-light text-dark px-4 py-2 border rounded-3 small shadow-sm" style="background-color:  #fccd8e ;">
                        Crear Cuenta
                    </a>
                </div>


            </div>

        </div>
    </div>
{% endblock %}