{% extends "base.html" %}

{% block title %}
Registrar Asistencia
{% endblock %}

{% block content %}

<div class="container mt-5 mb-5">

    <h1 class="page-title">
        Registro de Asistencia
    </h1>

    <div class="card shadow p-4 card-custom">

        <p class="text-muted">
            Ingrese su legajo para registrar asistencia.
        </p>

        <form
            action="{{ url_for('asistencia.registrar_asistencia') }}"
            method="POST">

            <input
                type="hidden"
                name="qr_code"
                value="{{ qr_code }}">

            <div class="mb-3">

                <label class="form-label">
                    Legajo
                </label>

                <input
                    type="number"
                    class="form-control"
                    name="legajo"
                    required>

            </div>

            <button
                type="submit"
                class="btn btn-primary btn-lg rounded-3 py-2"
                style="font-size: 1.1rem; background-color: #1d2554;">

                Registrar asistencia

            </button>

        </form>

        {% if mensaje %}

        <div class="alert alert-info mt-4">

            {{ mensaje }}

        </div>

        {% endif %}

    </div>

</div>

{% endblock %}